* {
  font-family: monospace;
}

.smallfont {
  font-size: 8px;
}

.profilePic {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 1%;
}
.profilePicSubs {
  border-radius: 100px;
  height: 30px;
  width: 30px;
}
.upvote {
  height: 55px;
  width: 35px;
}

.downvote {
  height: 100px;
  width: 35px;
}

.cursorPointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.anchor-color {
  color: #81c1e9;
}

.anchor-color:hover {
  color: #e2e2e2;
}
.voteFlex {
  height: 60px;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
