* {
  font-family: monospace;
}

.smallfont {
  font-size: 8px;
}

.profilePic {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 1%;
}
.profilePicSubs {
  border-radius: 100px;
  height: 30px;
  width: 30px;
}
.upvote {
  height: 15px;
  width: 15px;
}

.downvote {
  height: 15px;
  width: 15px;
}

.cursorPointer {
  cursor: pointer;
}
