html body {
  height: 100%;
  width: 100%;
}

* {
  font-family: monospace;
}

input[type="text"]
{
    font-size:14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none!important;
}
.smallfont {
  font-size: 8px;
}

.mediumfont {
  font-size: 14px;
}

.profilePic {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 1%;
}
.profilePicSubs {
  border-radius: 100px;
  height: 30px;
  width: 30px;
}
.upvote {
  height: 40px;
  width: 35px;
}

.downvote {
  height: 40px;
  width: 35px;
}

.cursorPointer {
  cursor: pointer;
}

.anchor-color {
  color: #81c1e9;
}

.anchor-color:hover {
  color: #e2e2e2;
}

.voteFlex {
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.voteSums {
  font-size: 16px;
  display: block;
}

.upVoteRed {
  color: #EB3324;
}

.downVoteBlue {
  color: #4ba0d5;
}

.deleteConfirm {
  height: 150px;
  width: 250px;
  background-color: rgba(52, 57, 62, 0.76);
  border: 1px solid rgba(185, 53, 57, 0.85);
  border-radius: 10px;
  z-index: 10;
  display: none;
}
.submitConfirm {
  height: 150px;
  width: 250px;
  background-color: rgba(52, 57, 62, 0.76);
  border: 1px solid rgba(185, 53, 57, 0.85);
  border-radius: 10px;
  z-index: 10;
  display: none;
}

span.carousel-control-next-icon {
  background-image: url(../images/right-arrow.png);
}
span.carousel-control-prev-icon {
  background-image: url(../images/left-arrow.png);
}
